
*.root
\#*
*.svg
*.pdf
*.ps
*.gif
*.png
*.wrl
*cmake*
*.jpeg
ComptonScatter-build/CMakeFiles
*.out
*.txt
ComptonScatter-build/ComptonScatter
ComptonScatter-build/Makefile
*.d
*.so
*~
*.err
*.log*
*.job
ComptonScatter-build/figures
